In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
df=pd.read_csv(r'C:\Users\leepa\Documents\color_mood_predictor_ml\data\color_dataset.csv')
df

          R      G      B       H     S     L  Brightness  Target
0     110.0  185.0  219.0  198.72  0.60  0.65      166.45    Good
1     244.0   54.0  220.0  307.58  0.90  0.58      129.73  Medium
2     196.0  187.0   17.0   56.98  0.84  0.42      170.31  Medium
3     187.0    NaN  122.0     NaN   NaN   NaN         NaN     NaN
4      98.0  177.0    0.0   86.78  1.00  0.35      133.20  Medium
...     ...    ...    ...     ...   ...   ...         ...     ...
5495    9.0   81.0  228.0  220.27  0.92  0.46       76.23    Good
5496   71.0   65.0  228.0  242.21  0.75  0.57       85.38    Good
5497   24.0  162.0  184.0  188.25  0.77  0.41      123.25    Good
5498  181.0    NaN  191.0     NaN   NaN   NaN         NaN     NaN
5499   61.0   86.0   56.0  110.00  0.21  0.28       75.11  Medium

[5500 rows x 8 columns]

In [5]:
df.head(10)

       R      G      B       H     S     L  Brightness  Target
0  110.0  185.0  219.0  198.72  0.60  0.65      166.45    Good
1  244.0   54.0  220.0  307.58  0.90  0.58      129.73  Medium
2  196.0  187.0   17.0   56.98  0.84  0.42      170.31  Medium
3  187.0    NaN  122.0     NaN   NaN   NaN         NaN     NaN
4   98.0  177.0    0.0   86.78  1.00  0.35      133.20  Medium
5   22.0  177.0   94.0  147.87  0.78  0.39      121.19  Medium
6  219.0  163.0   66.0   38.04  0.68  0.56      168.69  Medium
7   81.0  122.0   59.0   99.05  0.35  0.35      102.56  Medium
8    4.0  130.0  164.0  192.75  0.95  0.33       96.20  Medium
9   24.0  231.0   53.0  128.41  0.81  0.50      148.81  Medium

In [6]:
df.tail(10)

          R      G      B       H     S     L  Brightness  Target
5490  106.0  218.0   99.0  116.47  0.62  0.62      170.95  Medium
5491  213.0   27.0  140.0  323.55  0.78  0.47       95.50  Medium
5492   13.0  144.0  254.0  207.39  0.99  0.52      117.37    Good
5493  127.0   13.0  185.0  279.77  0.87  0.39       66.69  Medium
5494  162.0    NaN  171.0     NaN   NaN   NaN         NaN     NaN
5495    9.0   81.0  228.0  220.27  0.92  0.46       76.23    Good
5496   71.0   65.0  228.0  242.21  0.75  0.57       85.38    Good
5497   24.0  162.0  184.0  188.25  0.77  0.41      123.25    Good
5498  181.0    NaN  191.0     NaN   NaN   NaN         NaN     NaN
5499   61.0   86.0   56.0  110.00  0.21  0.28       75.11  Medium

In [8]:
df.columns

Index(['R', 'G', 'B', 'H', 'S', 'L', 'Brightness', 'Target'], dtype='object')

In [9]:
df.size

44000

In [10]:
df.shape

(5500, 8)

In [11]:
df.dtypes

R             float64
G             float64
B             float64
H             float64
S             float64
L             float64
Brightness    float64
Target         object
dtype: object