In [67]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
df=pd.read_csv(r'C:\Users\leepa\Documents\color_mood_predictor_ml\data\color_dataset.csv')
df

          R      G      B       H     S     L  Brightness  Target
0     110.0  185.0  219.0  198.72  0.60  0.65      166.45    Good
1     244.0   54.0  220.0  307.58  0.90  0.58      129.73  Medium
2     196.0  187.0   17.0   56.98  0.84  0.42      170.31  Medium
3     187.0    NaN  122.0     NaN   NaN   NaN         NaN     NaN
4      98.0  177.0    0.0   86.78  1.00  0.35      133.20  Medium
...     ...    ...    ...     ...   ...   ...         ...     ...
5495    9.0   81.0  228.0  220.27  0.92  0.46       76.23    Good
5496   71.0   65.0  228.0  242.21  0.75  0.57       85.38    Good
5497   24.0  162.0  184.0  188.25  0.77  0.41      123.25    Good
5498  181.0    NaN  191.0     NaN   NaN   NaN         NaN     NaN
5499   61.0   86.0   56.0  110.00  0.21  0.28       75.11  Medium

[5500 rows x 8 columns]

In [68]:
df.head(10)

       R      G      B       H     S     L  Brightness  Target
0  110.0  185.0  219.0  198.72  0.60  0.65      166.45    Good
1  244.0   54.0  220.0  307.58  0.90  0.58      129.73  Medium
2  196.0  187.0   17.0   56.98  0.84  0.42      170.31  Medium
3  187.0    NaN  122.0     NaN   NaN   NaN         NaN     NaN
4   98.0  177.0    0.0   86.78  1.00  0.35      133.20  Medium
5   22.0  177.0   94.0  147.87  0.78  0.39      121.19  Medium
6  219.0  163.0   66.0   38.04  0.68  0.56      168.69  Medium
7   81.0  122.0   59.0   99.05  0.35  0.35      102.56  Medium
8    4.0  130.0  164.0  192.75  0.95  0.33       96.20  Medium
9   24.0  231.0   53.0  128.41  0.81  0.50      148.81  Medium

In [69]:
df.tail(10)

          R      G      B       H     S     L  Brightness  Target
5490  106.0  218.0   99.0  116.47  0.62  0.62      170.95  Medium
5491  213.0   27.0  140.0  323.55  0.78  0.47       95.50  Medium
5492   13.0  144.0  254.0  207.39  0.99  0.52      117.37    Good
5493  127.0   13.0  185.0  279.77  0.87  0.39       66.69  Medium
5494  162.0    NaN  171.0     NaN   NaN   NaN         NaN     NaN
5495    9.0   81.0  228.0  220.27  0.92  0.46       76.23    Good
5496   71.0   65.0  228.0  242.21  0.75  0.57       85.38    Good
5497   24.0  162.0  184.0  188.25  0.77  0.41      123.25    Good
5498  181.0    NaN  191.0     NaN   NaN   NaN         NaN     NaN
5499   61.0   86.0   56.0  110.00  0.21  0.28       75.11  Medium

In [70]:
df.columns

Index(['R', 'G', 'B', 'H', 'S', 'L', 'Brightness', 'Target'], dtype='object')

In [71]:
df.size

44000

In [72]:
df.shape

(5500, 8)

In [73]:
df.dtypes

R             float64
G             float64
B             float64
H             float64
S             float64
L             float64
Brightness    float64
Target         object
dtype: object

In [74]:
#Fetching the Output counts
df['Target'].value_counts()

Target
Medium    2607
Good      1376
Bad        744
Name: count, dtype: int64

In [75]:
#Checking for Null values
df.isna().sum()

R             275
G             273
B             278
H             773
S             773
L             773
Brightness    773
Target        773
dtype: int64

In [76]:
#There are missing values so we need to fill it with 
#Either mean mode or median based on the scenario.
#When to use them accordingly??????????

#Mean: sum of all values divided by number of total values
#Median: It is the middle value
#Mode()[0]: It is the value which appears most
#We are using Median to to fill to avoid overfitting or underfitting
#we will fill RGB with median and then HSL values are derived from this

In [77]:
df=pd.read_csv(r'C:\Users\leepa\Documents\color_mood_predictor_ml\data\color_dataset.csv')
for columns in ['R','G','B']:
    df[columns].fillna(df[columns].median(),inplace=True)

C:\Users\leepa\AppData\Local\Temp\ipykernel_9684\3878616181.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[columns].fillna(df[columns].median(),inplace=True)
C:\Users\leepa\AppData\Local\Temp\ipykernel_9684\3878616181.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[columns].fillna(df[columns].median(),inplace=True)
C:\Users\leepa\AppData\Local\Temp\ipykernel_9684\3878616181.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[columns].fillna(df[columns].median(),inplace=True)

In [78]:
df

          R      G      B       H     S     L  Brightness  Target
0     110.0  185.0  219.0  198.72  0.60  0.65      166.45    Good
1     244.0   54.0  220.0  307.58  0.90  0.58      129.73  Medium
2     196.0  187.0   17.0   56.98  0.84  0.42      170.31  Medium
3     187.0  129.0  122.0     NaN   NaN   NaN         NaN     NaN
4      98.0  177.0    0.0   86.78  1.00  0.35      133.20  Medium
...     ...    ...    ...     ...   ...   ...         ...     ...
5495    9.0   81.0  228.0  220.27  0.92  0.46       76.23    Good
5496   71.0   65.0  228.0  242.21  0.75  0.57       85.38    Good
5497   24.0  162.0  184.0  188.25  0.77  0.41      123.25    Good
5498  181.0  129.0  191.0     NaN   NaN   NaN         NaN     NaN
5499   61.0   86.0   56.0  110.00  0.21  0.28       75.11  Medium

[5500 rows x 8 columns]

In [79]:
df.isna().sum()

R               0
G               0
B               0
H             773
S             773
L             773
Brightness    773
Target        773
dtype: int64

In [80]:
#here we are implenting a function for the hsl values
import colorsys 
def rgb_to_hsl(R,G,B):
    r,g,b=R/255,G/255,B/255
    h,l,s=colorsys.rgb_to_hls(r,g,b)
    return round(h*360,2),round(s,2),round (l,2)

In [82]:
#APPLY THE FUNCTION ROW WISE
df['H'],df['S'],df['L']=zip(*df.apply(lambda row: rgb_to_hsl(row['R'],row["G"],row["B"]),axis=1))
df

          R      G      B       H     S     L  Brightness  Target
0     110.0  185.0  219.0  198.72  0.60  0.65      166.45    Good
1     244.0   54.0  220.0  307.58  0.90  0.58      129.73  Medium
2     196.0  187.0   17.0   56.98  0.84  0.42      170.31  Medium
3     187.0  129.0  122.0    6.46  0.32  0.61         NaN     NaN
4      98.0  177.0    0.0   86.78  1.00  0.35      133.20  Medium
...     ...    ...    ...     ...   ...   ...         ...     ...
5495    9.0   81.0  228.0  220.27  0.92  0.46       76.23    Good
5496   71.0   65.0  228.0  242.21  0.75  0.57       85.38    Good
5497   24.0  162.0  184.0  188.25  0.77  0.41      123.25    Good
5498  181.0  129.0  191.0  290.32  0.33  0.63         NaN     NaN
5499   61.0   86.0   56.0  110.00  0.21  0.28       75.11  Medium

[5500 rows x 8 columns]

In [83]:
df.isna().sum()

R               0
G               0
B               0
H               0
S               0
L               0
Brightness    773
Target        773
dtype: int64

In [85]:
#WE are recompiling the brighness value

def bright (R,G,B):
    return round(0.299*R+0.587*G+0.114*B,2)
df['Brightness']=df.apply(lambda row: bright(row['R'],row['G'],row['B']),axis=1)

In [86]:
df

          R      G      B       H     S     L  Brightness  Target
0     110.0  185.0  219.0  198.72  0.60  0.65      166.45    Good
1     244.0   54.0  220.0  307.58  0.90  0.58      129.73  Medium
2     196.0  187.0   17.0   56.98  0.84  0.42      170.31  Medium
3     187.0  129.0  122.0    6.46  0.32  0.61      145.54     NaN
4      98.0  177.0    0.0   86.78  1.00  0.35      133.20  Medium
...     ...    ...    ...     ...   ...   ...         ...     ...
5495    9.0   81.0  228.0  220.27  0.92  0.46       76.23    Good
5496   71.0   65.0  228.0  242.21  0.75  0.57       85.38    Good
5497   24.0  162.0  184.0  188.25  0.77  0.41      123.25    Good
5498  181.0  129.0  191.0  290.32  0.33  0.63      151.62     NaN
5499   61.0   86.0   56.0  110.00  0.21  0.28       75.11  Medium

[5500 rows x 8 columns]

In [87]:
df.isna().sum()

R               0
G               0
B               0
H               0
S               0
L               0
Brightness      0
Target        773
dtype: int64

In [88]:
df.dropna(subset=['Target'],inplace=True)

In [89]:
df

          R      G      B       H     S     L  Brightness  Target
0     110.0  185.0  219.0  198.72  0.60  0.65      166.45    Good
1     244.0   54.0  220.0  307.58  0.90  0.58      129.73  Medium
2     196.0  187.0   17.0   56.98  0.84  0.42      170.31  Medium
4      98.0  177.0    0.0   86.78  1.00  0.35      133.20  Medium
5      22.0  177.0   94.0  147.87  0.78  0.39      121.19  Medium
...     ...    ...    ...     ...   ...   ...         ...     ...
5493  127.0   13.0  185.0  279.77  0.87  0.39       66.69  Medium
5495    9.0   81.0  228.0  220.27  0.92  0.46       76.23    Good
5496   71.0   65.0  228.0  242.21  0.75  0.57       85.38    Good
5497   24.0  162.0  184.0  188.25  0.77  0.41      123.25    Good
5499   61.0   86.0   56.0  110.00  0.21  0.28       75.11  Medium

[4727 rows x 8 columns]

In [90]:
df.isna().sum()

R             0
G             0
B             0
H             0
S             0
L             0
Brightness    0
Target        0
dtype: int64

In [ ]:
#dfhdfh fiodsfdsf isdnfhldsifj/sdifyaiuorhyew89yr73489534hyrf9weyp9BVRW
EREWIOFROWEIY
EWHESUFHDSLYHIUOW
JSDIJLSDIHUOWEFAE